<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  DashBoard
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" opened>
    <img
      class="avatar mat-elevation-z8"
      src="https://cdn3.iconfinder.com/data/icons/avatar-set/512/Avatar11-512.png"
    />

    <h4 class="name" style="color: rgb(241, 146, 146);">{{name}}</h4>
    <p class="designation" style="color: rgb(22, 21, 21);">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
    <button mat-button class="menu-button" (click)="goback()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
  <div class="content mat-elevation-z8">
    <div class="centered-content">
      <h3 class="congrats-message"><b>CONGRATS {{name.toUpperCase()}}</b></h3>
    </div>
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>

</mat-sidenav-container>